html,
body {
    width: 100%;
    overflow-x: clip;
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    background-color: black;
    color: white;
    scroll-behavior: smooth;

}

:root {
    --neon: #00f2ff;
    --dark-bg: #050505;
}

h1,
h2,
h3,
.navbar-brand {
    font-family: 'Orbitron', sans-serif;
}

.navbar {
    background: rgba(10, 10, 10, 0.85) !important;
    backdrop-filter: blur(15px);
    border-bottom: 2px solid rgba(0, 242, 255, 0.3);
}

.neon-text {
    color: var(--neon);
    text-shadow: 0 0 10px rgba(0, 242, 255, 0.7);
}

.hero-section {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/p1.jpg');
    background-size: cover;
    background-position: center;
}

.btn-gaming {
    background: var(--neon);
    color: #000;
    font-weight: bold;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    padding: 12px 30px;
    border: none;
    transition: 0.3s;
}

.btn-gaming:hover {
    box-shadow: 0 0 20px var(--neon);
    transform: scale(1.05);
    background: white;
    color: black;
}

.game-card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid rgba(0, 242, 255, 0.2);
}

.game-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: 0.5s;
}

.game-card:hover img {
    transform: scale(1.1);
    filter: brightness(40%);
}

.card-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s;
}

.game-card:hover .card-overlay {
    opacity: 1;
}

.bento-item {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(0, 242, 255, 0.2);
    border-radius: 20px;
    padding: 30px;
}

.play-btn {
    width: 80px;
    height: 80px;
    background: var(--neon);
    border-radius: 50%;
    transition: 0.4s ease;
    z-index: 10;
    position: relative;
}

.play-btn:hover {
    transform: scale(1.15);
    box-shadow: 0 0 30px var(--neon);
}

.modal-content {
    backdrop-filter: blur(5px);
}

.footer {
    background: #000;
    border-top: 1px solid var(--neon);
    padding: 50px 0 20px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.trailer-section {
    background: url('images/p5.jpg');
    width: auto;
    height: 670px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .trailer-section {
        height: 200px;
        width: 100%;
    }
}

.pulse-ring {
    position: absolute;
    width: 70px;
    height: 70px;
    background: var(--neon);
    border-radius: 50%;
    animation: pulse 2s infinite;
}

video#localVideo {
    width: 100%;
    height: 120%;
    object-fit: cover;
    background-color: black;
}